*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font: inherit;
}

html,
body {
  min-height: 100vh;
}

html {
  color-scheme: dark light;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
input,
textarea,
select,
pre,
::placeholder {
  font: inherit;
  letter-spacing: inherit;
}